body {
    font-family: Arial, sans-serif;
    background: #f5f7fa;
}

.profile-container {
    max-width: 420px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.doctor-photo {
    width: 100%;
    border-radius: 10px;
}

.specialization {
    color: #0d6efd;
    font-weight: bold;
}

.info p {
    margin: 6px 0;
}

.book-btn {
    width: 100%;
    background: #28a745;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    margin: 10px 0;
    font-size: 16px;
}

.review {
    background: #f1f1f1;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 8px;
}

.back-btn {
    width: 100%;
    background: #0d6efd;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 1000;
}

.modal-content {
    background: #fff;
    width: 300px;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.modal-content input {
    width: 90%;
    margin: 6px 0;
    padding: 8px;
}

.confirm-btn {
    background: green;
    color: white;
    padding: 8px;
    border: none;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
}

.close-btn {
    background: #ccc;
    padding: 6px;
    border: none;
    width: 100%;
    margin-top: 6px;
    cursor: pointer;
}
